.sticky-header {
	position: relative;
	z-index: 99;
	background-color: $white;
	border-bottom: solid 2px $orange;

	&.use-sticky {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		transition: transform $transition-time;
		transform: translateY(-100%);

		.admin-bar & {
			top: 32px;
		}
	}

	&.show {
		transform: translateY(0);
	}

	> .wrap {
		@extend %wrap;
		display: flex;
		align-items: center;
	}

	a {
		color: $black;
		text-decoration: none;
	}

	.left {
		flex-grow: 0;
		flex-shrink: 0;
		margin-right: 1em;
		color: $white;



		i {
			display: block;
			font-size: 4.5em;
			color: $orange;
		}
	}

	.right {
		flex-grow: 1;
		flex-shrink: 1;
	}

	.top {
		display: flex;
		align-items: center;
		margin-bottom: .25em;
		padding-top: 1em;
		color: $white;
	}

	.search-form {
		flex-grow: 1;
		flex-shrink: 1;
		margin-bottom: 0;
		border-color: $orange;

		input[type='search'] {
			padding-left: 2.5em;
			border: none;
			font-size: .75em;
		}

		input[type='submit'] {
			padding: .55em 1em;
			font-size: .85em;
		}
	}

	.sites-nav {
		position: relative;
		flex-grow: 0;
		flex-shrink: 0;
		margin-left: 2em;

		&:hover,
		&:focus {
			ul {
				display: block;
			}
		}

		.btn {
			padding: .55em 1em;
			min-width: 8em;
			border: 1px solid $orange;
			font-size: .85em;
			color: $white;
			background-color: $orange;

			span,
			i {
				color: $white;
				font-size: 1em;
			}

			span {
				text-transform: uppercase;
			}
		}

		ul {
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 99;
			display: none;
			padding: .25em;
			width: 100%;
			border: 1px solid $orange;
			background-color: $white;
		}

		li {
			display: block;
			margin-left: 0;
			border-top: 1px solid $grey-border;

			&:first-child {
				border-top: none;
			}
		}

		a {
			position: relative;
			padding: .5em;
			color: $black;
			text-transform: uppercase;
			font-size: .85em;
			font-family: $heading;
			line-height: 1;
		}
	}

	.social {
		flex-grow: 1;
		flex-shrink: 0;
		margin-left: 2em;
		text-align: right;
		.fa {
			color: $white;
			background: $orange;
		}
	}

	.user-menu {
		flex-grow: 0;
		flex-shrink: 0;
		margin-left: 2em;

		.btn {
			padding: .55em 1em;
			border: 1px solid $orange;
			background-color: $orange;
			font-size: .85em;

			span,
			i {
				color: $white;
				font-size: 1em;
			}

			span {
				text-transform: uppercase;
			}
		}
	}

	.scroll-to-top {
		margin-left: .5em;

		.btn {
			padding: .55em 1em;
			font-size: .85em;

			i {
				color: $orange;
				font-size: 1em;
			}
		}
	}

	.bottom {
		display: flex;
		align-items: center;

		.nav-primary {
			flex-grow: 1;
			flex-shrink: 1;
		}

		.main-menu {
			.menu-item {
				> a {
					color: $black;
				}
			}


			.menu-item-link {
				&:after {
					background-color: $white;
				}
			}

			.sub-menu {
				top: 100%;
				margin-top: 2px;
			}
		}

		.icon-nav {
			.btn-icon {
				padding: .55em 1em;
				border-left: 1px solid $orange;
				font-size: .85em;

				&:first-child {
					border-left: none;
				}

				i {
					color: $orange;
				}

				span {
					color: $black;
					font-size: 1em;
				}
			}
		}
	}
}

@include media('<=portrait') {
	.sticky-header {
		display: none;
	}
}
