.page-template-page_home {
	.archive-slider-container {
		margin-bottom: 1.25em;
	}

	.content-sidebar-wrap {
		padding-right: 0;
		padding-left: 0;
		max-width: none;
	}
}

@include media('<=portrait') {
	.page-template-page_home {
		.archive-slider-container {
			margin-bottom: 2em;
			border-top: solid 2px $orange;
		}
	}
}

.home-section {
	> .wrap {
		@extend %wrap;
	}

	h2 {
		margin-bottom: 0.5em;
		text-transform: uppercase;
		border-top: solid 2px $orange;
		padding-top: 12px;
		margin-top: 1.3em;
		color: $white;
		span {
			background: $orange;
			padding: 10px 15px;
			margin-top: 10px;
		}

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	.mobile-bar {
		margin-bottom: .25em;
		padding: .5em 1.5em;
		text-align: right;

		.btn {
			font-size: .85em;
		}

		span {
			text-transform: uppercase;
		}

		i {
			font-size: 1em;
		}
	}
}

@include media('<=portrait') {
	.home-section {
		h2 {
			/* margin-bottom: .25em; */
			text-align: left;
			margin-top: 0;
			span {
				color: $black;
				background: none;
			}
			i {
				float: right;
				color: $orange;
				margin-right: 0.75em;
				font-size: 1.1em;
				font-weight: bold;
			}
		}
	}
}

.home-section-mobile-buttons {
	margin-bottom: 1.75em;
	text-align: center;

	> .wrap {
		display: flex;
	}

	.btn {
		flex-grow: 1;
		flex-shrink: 1;
		margin-left: .75em;
		padding-right: .25em;
		padding-left: .25em;
		width: 30%;
		font-size: .85em;

		&:first-child {
			margin-left: 0;
		}
	}
}

.home-section-featured-posts {
	.pull-left,
	.pull-right {
		float: left;
		width: 50%;
	}

	.pull-left {
		clear: both;
		padding-right: .775em;
	}

	.pull-right {
		padding-left: .775em;
		img {
			height: 250px;
			width: auto;
		}
	}
}

@include media('<=portrait') {
	.home-section-featured-posts {
		margin-bottom: 1.25em;

		> .wrap {
			padding-right: 0;
			padding-left: 0;
		}

		.one-half {
			margin-bottom: 0;
		}

		.pull-left,
		.pull-right {
			float: none;
			width: auto;
		}

		.pull-left {
			clear: both;
			padding-right: 0;
		}

		.pull-right {
			padding-left: 0;
			img {
				height: auto;
				width: auto;
			}
		}
	}
}

@media (max-width:640px) {
	.home-section-featured-posts {
		.pull-right {
			img {
				height: 150px;
				width: auto;
			}
		}
	}
}

.main-pick {
	position: relative;
	display: block;
	margin-bottom: 1.25em;

	.top {
		overflow: hidden;
		background-color: $black;

		img {
			max-width: none;
			width: 100%;
			transition: all $transition-time;
		}
	}

	.bookmarks-button-container {
		position: absolute;
		top: .5em;
		right: .5em;
		z-index: 99;
		opacity: 0;
		transition: opacity $transition-time;
	}

	img {
		display: block;
	}

	.bottom {
		display: flex;
		align-items: center;
		padding: .35em .75em;
		min-height: 9.35em;
		color: inherit;
		text-decoration: none;
		background: $black;
	}

	.left {
		flex-grow: 1;
		flex-shrink: 1;
		float: left;
		
		.left, .right {
			display: none;
		}

		p {
			font-family: $body;
			color: $white;
		}
	}

	h3 {
		margin-bottom: .5em;
		text-transform: none;
		font-size: 1.5em;
		transition: color $transition-time;
		font-family: $titles;
		color: $white;
	}

	.right {
		flex-grow: 0;
		flex-shrink: 0;
		float: right;
		padding-left: 1em;

		img {
			margin: 0 auto .5em;
			max-width: 6.5em;
			border: $border-width solid $orange;
			border-radius: 50%;
			max-height: 70px;
		}

		p {
			text-align: center;
			text-transform: none;
			font-style: .75em;
			font-family: $body;
			color: $white;
		}
	}
}

@include media('>=desktop') {
	.main-pick {
		&:hover,
		&:focus {
			.bookmarks-button-container {
				opacity: 1;
			}

			.top {
				img {
					opacity: .75;
					transform: scale(1.05);
				}
			}

			h3 {
				color: $white;
			}
		}
	}
}

@include media('<=portrait') {
	.main-pick {
		margin-bottom: 1em;
		border: none;

		.top {
			border-top: 1px solid $orange;

			img {
			}
		}

		.bottom {
			display: block;
			padding: 1em 1.5em 2em;
			min-height: 0;
			border-top-width: 1px;
		}

		.left {
			float: none;
			.left {
				width: 65%;
				float: left;
				text-align: left;
				display: block;
				span {
					color: $orange;
				}
			}
			.right {
				float: right;
				text-align: right;
				width: 35%;
				color: $white;
				display: block;
				font-family: $heading;
				font-size: 0.8em;
			}
		}

		h3 {
			font-size: 2tem;
		}

		.right {
			display: none;
		}
	}
}

.home-section-featured-posts {
	.other-picks {
		.archive-entry {
			max-height: 250px;
		}
	}
}

@include media('<=portrait') {
	.home-section-featured-posts {
		.other-picks {
			display: flex;
			flex-wrap: wrap;

			.item {
				display: none;
			}

			.item-1,
			.item-3 {
				display: block;
				width: 48%;
			}

			.item-1 {
				order: 1;
				float: left;
				margin-right: 2%;
			}

			.item-3 {
				order: 2;
				float: left;
				margin-left: 2%;
			}

			.item-2 {
				display: block;
				order: 3;
				margin: 0 auto;
				padding: 1em .5em;
				/* border: 1px solid $orange; */
				text-align: center;
			}
		}
	}
}

$listing-slider-height: 18.75em;

.home-section-featured-video-listings {
	margin-bottom: 1.5em;

	> .wrap {
		> .left {
			float: left;
			width: 41.75%;
			h2 {
				border: none;
				color: $black;
				margin-bottom: 1em;
				margin-top: 0.5em;
				.fa {
					opacity: 0;
				}
			}
			.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {
				width: 100%!important;
			}
		}

		> .right {
			float: right;
			padding-left: 1.25em;
			width: 57.75%;
			h2 {
				border: none;
				color: $black;
				margin-bottom: 1em;
				margin-top: 0.5em;
				.fa {
					opacity: 0;
				}
			}
		}
	}

	img {
		max-height: $listing-slider-height;
		width: auto;
	}
}

@include media('<=portrait') {
	.home-section-featured-video-listings {
		margin-bottom: 0;

		> .wrap {
			padding-right: 0;
			padding-left: 0;

			> .left,
			> .right {
				float: none;
				margin-bottom: 1em;
				width: 100%;
			}

			> .left {
				margin-bottom: 3em;
				h2 {
					border-top: solid 2px $orange;
					padding-left: 0.75em;
					margin-bottom: 0.5em;
					.fa {
						float: right;
						color: $orange;
						margin-right: .75em;
						font-size: 1.1em;
						font-weight: 700;
						opacity: 1;
					}
				}
			}

			> .right {
				padding-left: 0;
				margin-bottom: 2em;
				h2 {
					border-top: solid 2px $orange;
					padding-left: 0.75em;
					margin-bottom: 0.5em;
					.fa {
						float: right;
						color: $orange;
						margin-right: .75em;
						font-size: 1.1em;
						font-weight: 700;
						opacity: 1;
					}
				}
			}
		}

		img {
			max-height: none;
		}
	}
}

.listings-slider {
	position: relative;
	/* border-top: 1px solid $orange;
	border-bottom: 1px solid $orange;
	border-left: 1px solid $orange; */
}

@include media('<=portrait') {
	.listings-slider {
		border: none;
	}
}

.listing-slider-for {
	width: 62.5%;
	height: $listing-slider-height;

	img {
		display: block;
		margin: 0 auto 0 0;
		max-width: none;
		height: 100%;
	}

	.slick-slide {
		position: relative;
	}

	.slide-content {
		padding: .75em;
		border-top: 1px solid $orange;
		border-bottom: 1px solid $orange;
		background-color: $white;
		text-align: center;

		h3 {
			text-transform: none;
			font-size: 1.5em;
			font-family: $titles;
		}
	}
}

@include media('<=portrait') {
	.listing-slider-for {
		width: 100%;
		height: auto;

		img {
			width: 100%;
			height: auto;
			border-top: 1px solid $orange;
		}
	}
}

.listing-slider-nav {
	position: absolute;
	top: 0;
	right: 0;
	width: 48.25%;
	height: $listing-slider-height * .8;

	a {
		color: inherit;
		text-decoration: none;
	}

	.slick-slide {
		position: relative;
		cursor: pointer;

		&:hover,
		&:focus {
			.listing-slide-right {
				top: -1px;
				bottom: 1px;
				left: 5.5em;

				.inner {
					border-left-color: $orange;
				}

				.left {
					border-top-color: $orange;
					border-bottom-color: $orange;
					i {
						color: $orange;
					}
				}
			}
		}
	}

	i {
		display: block;
		color: $orange;
		font-size: 2em;
	}
}

@include media('<=portrait') {
	.listing-slider-nav {
		display: none;
	}
}

.listing-slide-left {
	margin-left: 1.75em;
	padding-left: 1em;
	height: $listing-slider-height * .2;
	/* border-left: 1px solid $orange; */
	border: none;
	background-color: $black;

	.inner {
		display: flex;
		align-items: center;
		padding: .75em .75em .75em 0;
		height: 100%;
		border-bottom: 1px solid $orange;
	}

	h3 {
		text-transform: none;
		font-size: 1em;
		color: $white;
		font-family: $titles; 
	}
}

.listing-slide-right {
	position: absolute;
	top: 0;
	bottom: 1px;
	left: 100%;
	margin-left: ((3.5 * 16 * -1px) - 3px);
	width: 92%;
	/* border-right: $border-width solid $orange; */
	border: none;
	transition: left $transition-time;

	.inner,
	.left,
	.right {
		display: flex;
		justify-content: center;
		align-items: center;
		align-items: center;
		height: 100%;
	}

	.inner {
		/* border-left: 1px solid transparent; */
		background-color: $black;
	}

	.left {
		flex-grow: 0;
		flex-shrink: 0;
		width: 3.7em;
		/* border-top: 1px solid transparent; */
		/* border-bottom: 1px solid transparent; */
	}

	i {
		padding: .25em 0;
		text-align: center;
		color: #818181;
	}

	.right {
		flex-grow: 1;
		flex-shrink: 1;
		padding: .25em .75em .25em .5em;
		border-top: 1px solid $orange;
		/* border-bottom: 1px solid $orange; */
		/* border-left: $border-width solid $orange; */
	}

	.address,
	.contact {
		/* @include meta-font; */
		font-family: $titles;
		font-size: .85em;
		color: $white;
	}

	.address {
		flex-grow: 1;
		flex-shrink: 1;
		padding-right: 1.5em;
		line-height: 1.25em;
	}

	.contact {
		flex-grow: 0;
		flex-shrink: 0;
	}
}

.listings-more {
	position: absolute;
	right: 0;
	bottom: 0.05em;
	padding-left: 1.75em;
	width: 48.25%;
	height: $listing-slider-height * .2;
	/* border-right: 1px solid $orange; */

	.inner {
		display: flex;
		align-items: center;
		padding: .75em .75em .75em 0;
		height: 100%;
		/* border-left: 1px solid $orange; */
		background-color: $black;
		color: $white;
	}

	.left {
		flex-grow: 1;
		flex-shrink: 1;
		padding-left: 1em;
	}

	h3 {
		text-transform: uppercase;
		font-size: .9em;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	.right {
		flex-grow: 0;
		flex-shrink: 0;
		padding-left: 1em;
	}

	i {
		color: $orange;
		font-size: 1.5em;
	}
}

@include media('<=portrait') {
	.listings-more {
		display: none;
	}
}

.home-mobile-promo {
	margin: 0 auto 1em;
	text-align: center;
}

$slider-height: 25em;

.home-section-events-join {
	padding-top: 0;
	padding-bottom: 1.25em;

	.left {
		position: relative;
	}

	.event-slider-nav {
		right: 0;
		width: 37.75%;
		.outer {
			margin-left: 3em;
		}
	}

	.join {
		display: flex;
		align-items: center;
		padding: 1.5em 1.25em 0 1.25em;
		min-height: $slider-height;
		background-color: $black;
		color: $white;
		text-align: center;

		.join-inner {
			width: 100%;
		}

		.ico-heart {
			display: inline-block;
			margin-bottom: .5em;
			padding: .375em;
			width: 2em;
			height: 2em;
			border: $border-width solid $orange;
			border-radius: 50%;
			font-size: 2em;
			line-height: 1.15;
			color: $orange;
		}

		h3 {
			margin-bottom: 1.25em;
			text-transform: none;
			font-size: 2em;
			font-family: $titles;
			line-height: 1em;
			margin-top: 10px;
		}

		.btn {
			margin-bottom: 0;
			/* border: 2px solid $white; */
			float: right;
			margin-right: -20px;
			padding: .90em 1em;
		}

		p {
			@extend %type;
			font-size: .9em;
		}
	}
}

@include media('<=portrait') {
	.home-section-events-join {
		padding-bottom: 2em;

		> .wrap {
			padding-right: 0;
			padding-left: 0;
		}

		.left,
		.join {
			float: none;
			clear: both;
			margin-bottom: 1.5em;
			margin-left: 0;
			min-height: 0;
			width: 100%;
		}

		.join {
			margin: 0 auto;
			padding: 2.75em 0.75em;
			min-height: 0;
			/* max-width: 22.5em; */
			padding-bottom: 0;
			margin-bottom: 1em;
			.btn {
				margin-right: -12px;
			}
		}
		.left {
			margin-bottom: 3em;
		}
	}
	.logged-in {
		.home-section-events-join {
			.join {
				padding-bottom: 3em;
			}
		}
	}
}

.home-section-trending {
	margin-bottom: 1.25em;
	padding-bottom: 1.5em;
	/* background-color: $orange-light; */

	a {
		position: relative;
		display: block;
		color: $white;

		&:hover,
		&:focus {
			.overlay {
				opacity: 1;
			}
		}
	}
	.wrap {
		h2 {
			color: $black;
			border: none;
			margin-bottom: 1em;
		}
	}

	img {
		display: block;
		margin: 0 auto;
	}

	.ico-hexagon,
	span {
		position: absolute;
		top: 50%;
		left: 50%;
		line-height: 1;
		transform: translateX(-50%) translateY(-50%);
	}

	.ico-hexagon {
		display: block;
		font-size: 6.5em;
	}

	span {
		display: block;
		font-size: 3em;
		font-family: $heading;
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		padding: 1em 1em .75em;
		width: 100%;
		height: 100%;
		background-color: $black;
		color: $white;
		text-align: center;
		opacity: 0;
		transition: opacity $transition-time;

		div {
			width: 100%;
		}

		.category-icon {
			display: block;
			margin: 0 auto 1.5em;
		}

		h3 {
			text-transform: none;
			font-size: 1.25em;
			font-family: $titles;
		}
	}
}

@include media('<=portrait') {
	.home-section-trending {
		padding-bottom: 0;

		> .wrap {
			padding-right: 0;
			padding-left: 0;
			h2 {
				border-top: solid 2px $orange;
				padding-left: 0.75em;
				margin-bottom: 0.5em;
				i {
					float: right;
					color: $orange;
					margin-right: .75em;
					font-size: 1.1em;
					font-weight: 700;
				}
			}
		}

		.slick-slide {
			max-width: 10em;
		}

		.overlay {
			.category-icon {
				margin-bottom: .5em;
			}
		}
	}
}

.home-section-latest-posts {
	background-color: #ededed;

	padding-bottom: 1em;
	.banner {
		margin: 0 auto 1.25em;
		text-align: center;
	}

	h2 {
		a {
			color: inherit;
			text-decoration: none;
		}
	}

	.il-load-more {
		margin-top: 1em;
		span {
			background-color: #ededed;
		}
	}
	
	.wrap {
		h2 {
			color: $black;
			border-top: none;
			margin-bottom: 1em;
			span {
				background: none;
				color: $black;
				padding: 0;
				margin-top: 2.3em;
			}
		}
	}
}

.home-leaderboard-2 {
	margin-bottom: 2.5em; 
}

@include media('<=portrait') {
	.home-section-latest-posts {
		background-color: $white;
		border-top: solid 2px $orange;
		.archive-entry-small {
			margin-right: -.75em;
			margin-left: -.75em;
			.bottom {
				background-color: $white;
			}
		}
		.wrap {
			h2 {
				margin-bottom: 0.5em;
			}
		}
		.il-load-more {
			span {
				background-color: $white;
			}
		}
	}
}
