.pika-single {
	position: relative;
	z-index: 9999;
	display: block;
	border: 1px solid $grey-border;
	background: $white;

	&.is-hidden {
		display: none;
	}

	&.is-bound {
		position: absolute;
	}
}

.pika-single {
	@extend %clearfix;
}

.pika-lendar {
	float: left;
	margin: .5em;
	width: 18.75em;
}

.pika-title {
	position: relative;
	text-align: center;

	select {
		position: absolute;
		top: 5px;
		left: 0;
		z-index: 9998;
		margin: 0;
		opacity: 0;
		cursor: pointer;
	}
}

.pika-label {
	position: relative;
	z-index: 9999;
	display: inline-block;
	overflow: hidden;
	padding: .55em .25em;
	background-color: $white;
	text-transform: uppercase;
	font-size: .9em;
	font-family: $heading;
	line-height: 1;
}

.pika-prev,
.pika-next {
	position: relative;
	display: block;
	padding: .5em 0;
	outline: none;
	border: 0;
	background-color: transparent;
	color: $text;
	cursor: pointer;

	&:before {
		@extend %ico;
	}

	&.is-disabled {
		opacity: .2;
		cursor: default;
	}
}

.pika-prev {
	float: left;

	&:before {
		@extend .ico-arrow-left:before;
	}
}

.pika-next {
	float: right;

	&:before {
		@extend .ico-arrow-right:before;
	}
}

.pika-select {
	display: inline-block;
}

.pika-table {
	width: 100%;
	border: 0;
	border-spacing: 0;
	border-collapse: collapse;
	table-layout: fixed;

	th,
	td {
		padding: 0;
		width: (100% / 7);
		text-align: center;
	}

	th {
		padding: .5em 0;
		text-transform: uppercase;
		font-size: .75em;
		font-family: $heading;
		line-height: 1;
	}

	abbr[title] {
		border-bottom: none;
	}
}

.pika-button {
	display: block;
	padding: .75em .25em;
	width: 100%;
	outline: none;
	background: transparent;
	color: $text;
	font-style: normal;
	font-size: .75em;
	cursor: pointer;

	.is-today & {
		color: $orange;
	}

	.is-selected & {
		background: $orange;
		color: $white;
	}

	.is-disabled & {
		color: $grey;
		opacity: .3;
		cursor: default;
		pointer-events: none;
	}
}
