.subscribe-form {
	position: relative;

	&.processing {
		opacity: .5;
	}

	.email-container {
		position: relative;
	}

	input[type='email'] {
		padding-right: 1.5em;
	}

	.result {
		position: absolute;
		top: .4em;
		right: .4em;
		display: block;
		text-align: center;
		font-style: normal;
		font-size: 1.25em;
		font-family: sans-serif;
		line-height: 1;

		&.success {
			&:before {
				color: $successText;
				content: '\2713';
			}
		}

		&.error {
			&:before {
				color: $errorText;
				content: '\00d7';
				font-weight: bold;
			}
		}
	}
}

.email_error{
	font-size: 0.85em;
	color: red;
	margin-bottom: 1em;
	display: none;
}
.successMessageFoot{    
	color: green;
	font-size: 0.85em;
	margin-bottom: 10px;
	display: none;
}
